<div class="container">
  <div class="text-center">
    My Info
  </div>

  <div ng-if='myInfoCtrl.userExists'>
    <p>
      Name: {{myInfoCtrl.user.firstname}} {{myInfoCtrl.user.lastname}}
    </p>
    <p>
      E-mail: {{myInfoCtrl.user.email}}
    </p>
    <p>
      Phone Number: {{myInfoCtrl.user.email}}
    </p>
    <p>      
        Favorite Dish:
    </p>
    <div>
      <menu-item menu-item="myInfoCtrl.favoritedish">
      </menu-item>
    </div>
  </div>

  <div ng-if='!myInfoCtrl.userExists'>
    No user info found. Please <a ui-sref='public.signup'>Register.</a>
  </div>

</div>
